* {
    margin: 0%;
    padding: 0%;
}

a.nav-item {
	color: #000000;
    margin-top: 50%;
}

a.nav-item:hover {
	color: #03fc13;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   max-width: 1200px;
   width: 100%;

 }

 .container .box {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 1200px;
 }

 li {
    font-size: 24px;
    text-decoration: none;
    list-style-type: none;
 }

 .myCard {
    background-color: transparent;
    width: 390px;
    height: 554px;
    perspective: 1000px;
    margin: 2% auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-size: 46px;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .frontSide1,
  .frontSide2,
  .frontSide3,
  .backSide1,
  .backSide2,
  .backSide3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }
  
  .frontSide1,
  .frontSide1::before {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  }

  .frontSide2,
  .frontSide2::before {
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  }

  .frontSide3,
  .frontSide3::before {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  }
  
  .backSide1,
  .backSide1::before {
    background-image: linear-gradient(160deg, #00e990 0%, #80D0C7 100%);
  }
  
  .backSide2,
  .backSide2::before {
    background-image: linear-gradient(160deg, #691725 0%, #ba4eda 100%);
  }

  .backSide3,
  .backSide3::before {
    background-image: linear-gradient(160deg, #ff6200 0%, #fff700 100%);
  }
  
  .backSide1,
  .backSide2,
  .backSide3 {
    transform: rotateY(180deg);
  }
  
  .frontSide1::before,
  .frontSide2::before,
  .frontSide3::before,
  .backSide1::before,
  .backSide2::before,
  .backSide3::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }

  .flip {
    transform: rotateY(180deg);
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }

  @media (max-width: 600px) {
    .container {
     flex-direction: column;
     align-items: center;
     justify-content: center;
    }

    .container .box {
        width: 100%;
        align-items: center;
    }

    .myCard {
        width: 80%;
        margin: 10px auto;
    }
  }    