 * {
   margin: 0;
   padding: 0;
   font-family: Poppins, sans-serif;
 }
 
 :root {
   --main-bg: #f8f8f8;
   --box-bg: #ffffff;
   --name-color: #232323;
   --card-bg-text: #343434;
 }
 
 .dark:root {
   --main-bg: #131313;
   --box-bg: #232323;
   --name-color: #f8f8f8;
   --card-bg-text: #ffffff;
 }

 body {
    background: var(--main-bg);
 }

 .title {
    font-size: 46px;
    color: var(--name-color);
 }

 .dark .header {
    color: #fff;
 }

 .body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: var(--main-bg);
 }

 .header,
 .title {
    margin-top: 50px;
 }
 
 .container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 1200px;
   transform-style: preserve-3d;
 }
 
 .container .box {
   position: relative;
   width: 300px;
   height: 400px;
   margin: 40px;
   background: var(--box-bg);
   border-radius: 20px;
   transform-style: preserve-3d;
 }
 
 .container .box::before {
   content: "YOURS";
   position: absolute;
   top: 20px;
   left: 20px;
   font-size: 6em;
   font-weight: 900;
   color: var(--card-bg-text);
   font-style: italic;
   opacity: 0;
   transition: 0.5s;
 }
 
 .container .box::after {
   content: "JUICES";
   position: absolute;
   bottom: -30px;
   right: 20px;
   font-size: 4.5em;
   font-weight: 600;
   color: var(--card-bg-text);
   font-style: italic;
   opacity: 0;
   transition: 0.5s;
 }
 
 .container .box:hover::after,
 .container .box:hover::before {
   opacity: 0.04;
 }
 
 .container .box .name {
   position: absolute;
   top: 0;
   left: 0;
   text-align: center;
   color: var(--name-color);
   width: 100%;
   transform-style: preserve-3d;
   transform: translate3d(0, 0, 75px);
   transition: 0.5s;
   opacity: 0;
   z-index: 12;
 }
 
 .container .box:hover .name {
   top: 20px;
   opacity: 1;
 }
 
 .container .box .order {
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform-style: preserve-3d;
   transform: translate3d(0, 0, 75px);
   color: #fff;
   background: #333;
   padding: 10px 25px;
   border-radius: 30px;
   text-decoration: none;
   transition: 0.5s;
   opacity: 0;
   z-index: 10;
 }
 
 .container .box:hover .order {
   bottom: -5px;
   opacity: 1;
 }
 
 .container .box .circle {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   transition: 0.5s;
   background: #ffffff;
   transform-style: preserve-3d;
   z-index: 10;
   opacity: 1;
   transform: translate3d(-50%, -50%, 0px);
 }
 
 .container .box:hover .circle {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   transition: 0.5s;
   background: #ffffff;
   transform-style: preserve-3d;
   z-index: 10;
   opacity: 1;
   transform: translate3d(-50%, -50%, 35px);
 }
 
 .container .box .product {
   position: absolute;
   top: 50%;
   left: 50%;
   max-width: 300px;
   transition: 0.5s;
   z-index: 11;
   transition: 0.5s;
   transform-style: preserve-3d;
   transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
 }
 
 .container .box:hover .product {
   transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
 }
 
 .container .box:nth-child(1) .circle,
 .container .box:nth-child(1) .order {
   background: #273e01;
 }
 
 .container .box:nth-child(2) .circle,
 .container .box:nth-child(2) .order {
   background: #3b0101;
 }
 
 .container .box:nth-child(3) .circle,
 .container .box:nth-child(3) .order {
   background: #f08101;
 }
 
 .mode-switch {
   background-color: transparent;
   border: none;
   padding: 0;
   color: var(--name-color);
   /*display: flex;
   justify-content: center;
   align-items: center;*/
 }
 
 .mode-switch.active .moon {
   fill: var(--name-color);
 }

 footer {
    padding: 0.2rem;
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
 }
